<%- include("header", { title: title }) %>

<h1><%= title %></h1>

<div class="chat-container">

  <!-- CONNEXION -->
  <div id="login" class="card auth-card">
    <h2 class="small">Rejoindre le chat</h2>

    <div class="form-row">
      <label for="pseudo">Pseudo</label>
      <input id="pseudo" placeholder="Votre pseudo" class="input-field" />
    </div>

    <div class="form-row">
      <label for="room">Salon</label>
      <select id="room" class="input-field">
        <option value="general">Général</option>
        <option value="dev">Dev</option>
        <option value="random">Random</option>
      </select>
    </div>

    <div class="form-row form-actions">
      <button id="join" class="btn">Rejoindre</button>
    </div>
  </div>

<!-- CHAT -->
<div id="chat" class="card" style="display:none; margin-top:20px;">
  
  <!-- Bouton changer de salon -->
  <button id="changeRoom" class="btn" style="margin-bottom:10px;">Changer de salon</button>

  <div id="messages" class="messages"></div>

  <form id="messageForm">
    <div class="form-row chat-actions" style="margin-top:10px;">
      <input id="messageInput" placeholder="Votre message" class="input-field" />
      <button id="send" type="button" class="btn">Envoyer</button>
    </div>
  </form>
</div>


<!-- Socket.IO -->
<script src="/socket.io/socket.io.js"></script>
<script src="/tp-api/js/chat.js"></script>

<%- include("footer") %>
